/* COLORS
---------------------------------------------------------------------------------------------------- */
$primary: #fff601;
$secondary: #d2cb0f;
$accent: #353535;
$success: #7ed321;

$white: #fff;
$black: #000;
$dark: #242424;
$footer-bg: #1a1a1a;

$text-dark: #393939;
$text-grey: #8a8a8a;
$text-light: #c9c9c9;

$border-color: #666;


/* BREAKPOINTS
---------------------------------------------------------------------------------------------------- */
$screen-xl: 1500px;
$screen-l: 1200px;
$screen-m: 992px;
$screen-s: 768px;
$screen-xs: 576px;
